# Project 03 - Crime

In [2]:
from datetime import datetime
import pandas as pd
import json
import pprint
import logging
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s -  %(levelname)s -  %(message)s')
logging.debug('Start of program')
# logging.disable(logging.CRITICAL) # Uncomment when done debugging.

2024-07-16 20:53:30,342 -  DEBUG -  Start of program

In [3]:
try:
    dataset = pd.read_csv("CMPD_Incidents_raw_data.csv")
    logging.debug("Dataset loaded in successfully.")
    dataset.head()
except:
    logging.error("Dataset failed to be read in to pandas dataframe.")

2024-07-16 20:53:31,744 -  DEBUG -  Dataset loaded in successfully.

In [4]:
dataset.dtypes

X                              int64
Y                            float64
YEAR                           int64
INCIDENT_REPORT_ID            object
LOCATION                      object
CITY                          object
STATE                         object
ZIP                          float64
X_COORD_PUBLIC                 int64
Y_COORD_PUBLIC                 int64
LATITUDE_PUBLIC              float64
LONGITUDE_PUBLIC             float64
DIVISION_ID                   object
CMPD_PATROL_DIVISION          object
NPA                            int64
DATE_REPORTED                 object
DATE_INCIDENT_BEGAN           object
DATE_INCIDENT_END             object
ADDRESS_DESCRIPTION           object
LOCATION_TYPE_DESCRIPTION     object
PLACE_TYPE_DESCRIPTION        object
PLACE_DETAIL_DESCRIPTION      object
CLEARANCE_STATUS              object
CLEARANCE_DETAIL_STATUS       object
CLEARANCE_DATE                object
HIGHEST_NIBRS_CODE            object
HIGHEST_NIBRS_DESCRIPTION     object
OBJECTID                       int64
GlobalID                      object
dtype: object

In [5]:
logging.debug("Our chosen columns to filter for our dataset.")
cols = ["YEAR",
        "LOCATION",
        "LATITUDE_PUBLIC",
        "LONGITUDE_PUBLIC",
        "CMPD_PATROL_DIVISION",
        "DATE_REPORTED",
        "ADDRESS_DESCRIPTION",
        "LOCATION_TYPE_DESCRIPTION",
        "PLACE_TYPE_DESCRIPTION",
        "PLACE_DETAIL_DESCRIPTION",
        "CLEARANCE_STATUS",
        "HIGHEST_NIBRS_DESCRIPTION",
        "OBJECTID"]

2024-07-16 20:53:31,773 -  DEBUG -  Our chosen columns to filter for our dataset.

In [6]:
logging.debug("Filtering out unneeded columns.")
dataset = dataset[cols]
dataset.head(2)

2024-07-16 20:53:31,783 -  DEBUG -  Filtering out unneeded columns.

,YEAR,LOCATION,LATITUDE_PUBLIC,LONGITUDE_PUBLIC,CMPD_PATROL_DIVISION,DATE_REPORTED,ADDRESS_DESCRIPTION,LOCATION_TYPE_DESCRIPTION,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,HIGHEST_NIBRS_DESCRIPTION,OBJECTID
0,2023,3500 STATESVILLE AV,35.266384,-80.837353,Metro,2023/08/10 00:00:00+00,Location of occurrence,Outdoors,Retail,Convenience Store,Cleared by Arrest,Aggravated Assault,4
1,2023,600 KEY ST,35.256409,-80.890667,Freedom,2023/09/14 00:00:00+00,Location of occurrence,Indoors,Residential,Private Residence,Cleared by Arrest,Simple Assault,5

In [7]:
logging.info(f"Dataframe has {dataset.shape[0]} rows and {dataset.shape[1]} columns.")

2024-07-16 20:53:31,861 -  INFO -  Dataframe has 144832 rows and 13 columns.

In [8]:
dataset["CLEARANCE_STATUS"].value_counts()

CLEARANCE_STATUS
Open                                   95939
Exceptionally Cleared                  25760
Cleared by Arrest                      16987
Unfounded                               4749
Cleared by Arrest by Another Agency     1397
Name: count, dtype: int64

In [9]:
logging.info("Filtering the 'CLEARANCE_STATUS' column to remove rows with 'Unfounded' as its value")
dataset = dataset[dataset["CLEARANCE_STATUS"] != "Unfounded"]
dataset.head()

2024-07-16 20:53:31,907 -  INFO -  Filtering the 'CLEARANCE_STATUS' column to remove rows with 'Unfounded' as its value

,YEAR,LOCATION,LATITUDE_PUBLIC,LONGITUDE_PUBLIC,CMPD_PATROL_DIVISION,DATE_REPORTED,ADDRESS_DESCRIPTION,LOCATION_TYPE_DESCRIPTION,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,HIGHEST_NIBRS_DESCRIPTION,OBJECTID
0,2023,3500 STATESVILLE AV,35.266384,-80.837353,Metro,2023/08/10 00:00:00+00,Location of occurrence,Outdoors,Retail,Convenience Store,Cleared by Arrest,Aggravated Assault,4
1,2023,600 KEY ST,35.256409,-80.890667,Freedom,2023/09/14 00:00:00+00,Location of occurrence,Indoors,Residential,Private Residence,Cleared by Arrest,Simple Assault,5
2,2023,1900 RANDOLPH RD,35.210784,-80.824610,Providence,2023/02/09 00:00:00+00,Location of occurrence,Parking Deck,Public/Non-Residential,Hospital/Medical Facility,Open,Motor Vehicle Theft,6
3,2023,800 MCALWAY RD,35.189364,-80.793423,Providence,2023/07/18 00:00:00+00,Location of occurrence,Parking Lot,Residential,Apartment/Duplex Private Res,Open,Theft From Motor Vehicle,8
4,2023,3300 DURHAM LN,35.294751,-80.838000,North,2023/06/15 00:00:00+00,Location of occurrence,Indoors,Residential,Apartment/Duplex Private Res,Exceptionally Cleared,Simple Assault,16

In [10]:
logging.debug("Reformatting date from 'yyyy/mm/dd 00:00:00+00' to 'mm/dd/yyyy'.")
dataset["DATE_REPORTED"] = dataset["DATE_REPORTED"].apply(
    lambda x: datetime.strptime(x.split(" ")[0], "%Y/%M/%d").strftime("%M-%d-%Y")
)

2024-07-16 20:53:31,992 -  DEBUG -  Reformatting date from 'yyyy/mm/dd 00:00:00+00' to 'mm/dd/yyyy'.

## Data cleaning

In [12]:
dataset.head(2)

,YEAR,LOCATION,LATITUDE_PUBLIC,LONGITUDE_PUBLIC,CMPD_PATROL_DIVISION,DATE_REPORTED,ADDRESS_DESCRIPTION,LOCATION_TYPE_DESCRIPTION,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,HIGHEST_NIBRS_DESCRIPTION,OBJECTID
0,2023,3500 STATESVILLE AV,35.266384,-80.837353,Metro,08-10-2023,Location of occurrence,Outdoors,Retail,Convenience Store,Cleared by Arrest,Aggravated Assault,4
1,2023,600 KEY ST,35.256409,-80.890667,Freedom,09-14-2023,Location of occurrence,Indoors,Residential,Private Residence,Cleared by Arrest,Simple Assault,5

In [13]:
working_copy = dataset.copy()
x = working_copy.to_dict("records")
#pprint.pprint(x)

In [14]:
with open("dataset.json", "w") as outfile:
    json.dump(x, outfile, indent=4, sort_keys=False)